#container {
    height: 85vh;
    overflow: hidden;
}

#chatbox {
    height: 75%;
    overflow-y: scroll;
    overflow-x: auto;
    border-style: ridge;
}

#chatmessage {
    grid-row: auto;
    margin-top: 0.8em;
}

#chatinput {
    display: grid;
    grid-template-columns: 1fr 5%;
}